<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <div class="container">
      <a href="/budgets"><button type="reset">Back</button></a>
      <h1><%=budgetItem.name %></h1>
    </div>

    <p><%=budgetItem.date %></p>
    <p><%=budgetItem.from %></p>
    <p><%=budgetItem.amount %></p>
  </body>
</html>
